@import './variables.scss';
@import './mixins.scss';

nav {
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 100vw;
    height: 100%;
    color: white;
    .nav-item {
        padding: 1em;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            color: pink;
            border-bottom: 1px solid pink;
        }
    }
}