@import "./mixins.scss";
.home-browse {
  margin-top: 2em;
  @include flexbox();
  position: relative;
  .dev-img-container {
    width: 30%;
    max-width: 150px;
    position: absolute;
    top: -25%;
    border-radius: 50%;
    height: 150px;
    overflow: hidden;
    .dev-img {
      top: -5%;
    }
  }
  img {
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    position: absolute;
    top: 10%;
  }
  span {
    margin-top: 10em;
    width: 70%;
    max-width: 600px;
    color: black;

    .summary,
    .properties,
    h6 {
      text-align: center;
    }
    h6 {
      margin-top: 4em;
    }
  }
}

.story-content {
  padding: 2em;
  max-width: 900px;
  @include starrybackground();
  p {
    white-space: pre-wrap;
  }
}
