.storylist-component {
    padding: 0.5em;
    display: block;
    h5 {
        text-align: center;
        color: white;
    }
    .storylist-item {
        background-color: white;
        color: black;
        width: 100%;
        height: auto;
        display: block;
        margin: 0.5em auto;
        padding: 0.5em;
          .img-box {
            height: 40vh;
            padding: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .text-box {
            height: auto;
        }
    }
}