@import "./mixins.scss";

.form-container {
  // @include flexbox();
  padding: 1em;
  width: 100%;
  form {
    width: 100%;
    padding: 0.5em;
    .row {
      padding: 0;
      height: auto;
      .col {
        padding: 0;
        margin: 0;
        height: 50%;
        width: 100%;
        .card {
          border-radius: 0;
          margin: 0;
          min-height: 25vh;
          .card-reveal {
            background-color: orange;
          }
        }

        .text-box {
          background-color: white;
          border: none;
          padding: 1em;
          min-height: 25vh;
          height: auto;
          overflow-x: scroll;
        }
        label {
          color: white;
        }
      }
    }
    .header-row {
      @include starrybackground();
      padding: 1em;
      .titular {
        text-align: center;
        width: 100%;
      }
      .row {
        margin: 0 auto;
        .col {
          height: 10vh;
          padding: 0;
          margin: 0;
          width: 100%;
          padding: 0.5em;
        }
      }
      .third-row {
        width: 100%;
        height: 100%;
        .col {
          width: 100%;
          height: 100%;
          max-width: 550px;
          min-width: 300px;
          padding: 5px;
          margin: 0;
        }
      }
    }
    .toast-btn {
      background: #D46773;
      width: 100%;
    }
  }
}

.delete-modal {
  color: black;
  p {
    padding: 1em;
  }
}


@media only screen and (min-width: 500px) {
  .form-container {
    form {
      @include flexbox();
      width: 100%;
      padding: 0.5em;
      .row {
        width: 100%;
        height: auto;
        min-height: 25vh;
        margin-bottom: 1em;
        .col {
          .card {
            border-radius: 0;
            margin: 0;
            height: 100%;
            .card-reveal {
              background-color: orange;
            }
          }
        }
      }
      .header-row {
        padding: 0.5em;
        max-width: 80vw;
        @include flexbox();
        flex-flow: row wrap;
        .row {
          width: 50%;
        }
        .col {
          height: auto;
          padding: 1em;
          max-width: 100%;
        }
        .select-form {
          width: 40vw;
          max-width: 400px;
        }
        .third-row {
          width: 100%;
          height: 100%;
          .col {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
