@import "./variables.scss";
@import "./animation.scss";

.home-component {
  height: 80vh;
  margin: 0;
  padding: 0;
  section {
    position: relative;
    height: 80vh;
    padding: 2em;
    .modal-btn {
      display: block;
      margin: 15vh auto 0 auto;
      background-color: transparent;
      box-shadow: none;
      border: none;
      .moon {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 50vw;
        max-width: 400px;
        min-width: 150px;
        height: 50vw;
        max-height: 400px;
        min-height: 150px;
        border-radius: 50%;
        background-color: $moon;
        border: none;
        &:hover {
          cursor: pointer;
        }
        &::after {
          width: 60vw;
          max-width: 500px;
          min-width: 250px;
          height: 60vw;
          max-height: 500px;
          min-height: 250px;
          border-radius: 50%;
          z-index: -1;
          background-color: rgba($color: $moon, $alpha: 0.5);
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::before {
          width: 80vw;
          max-width: 600px;
          min-width: 300px;
          height: 80vw;
          max-height: 600px;
          min-height: 300px;
          border-radius: 50%;
          z-index: -1;
          background-color: rgba($color: $moon, $alpha: 0.2);
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50vw;
          min-width: 100px;
          max-width: 400px;
        }
      }
    }
  }
}

.modal-container {
  h3{
    color: black;
  }
  p {
    color: black;
  }
}
