@import "./variables.scss";
@import "./animation.scss";
@import "./mixins.scss";

.home-component {
  height: 80vh;
  margin: 0;
  padding: 0 0 10em 0em;
  section {
    position: relative;
    height: 80vh;
    padding: 2em;
    h1 {
      font-size: 10vh;
      position: absolute;
      font-family: "Norican", cursive;
      top: 59%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .modal-btn {
      display: block;
      margin: 5em auto 0 auto;
      background-color: transparent;
      box-shadow: none;
      border: none;
      .moon-shadowouter {
        width: 80vw;
        max-width: 300px;
        min-width: 300px;
        height: 80vw;
        max-height: 300px;
        min-height: 300px;
        border-radius: 50%;
        z-index: -2;
        background-color: rgba($color: $moon, $alpha: 0.2);
        @include flexbox();
        &:hover {
          animation: pulsate 1s ease-in-out;
        }
        .moon-shadowinner {
          width: 65vw;
          max-width: 250px;
          min-width: 250px;
          height: 65vw;
          max-height: 250px;
          min-height: 250px;
          border-radius: 50%;
          z-index: -1;
          background-color: rgba($color: $moon, $alpha: 0.5);
          @include flexbox();
          &:hover {
            animation: pulsate 0.5s ease-in-out;
            animation-delay: 2s;
          }
          .moon {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 45vw;
            max-width: 200px;
            min-width: 150px;
            height: 45vw;
            max-height: 200px;
            min-height: 150px;
            border-radius: 50%;
            background-color: $moon;
            border: none;
            &:hover {
              cursor: pointer;
              animation-delay: 2s;
              animation: pulsate 0.5s ease-in-out;
            }
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 40vw;
              min-width: 100px;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

.modal-container {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  max-width: 600px;
  .slider {
    height: 100%;
    section {
      margin-top: 4em;
      width: 100%;
      height: 100%;
      position: relative;
      h5 {
        font-size: 3vh;
        color: white;
      }
      p {
        // padding-top: 7em;
        font-size: 20px;
        color: black;
      }
    }
    .first-slide-content {
      width: 50vw;
      max-width: 300px;
      display: block;
      margin: 0 0 0 20%;
      h5 {
        font-size: 4vh;
      }
    }
    .btn {
      background: none;
      background-color: none;
      box-shadow: none;
      position: absolute;
      top:190%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-image: url('../img/fox_head.png');
      @include background-setup();
    }
  }
}

@media screen and (min-width: 768px) {
  .first-slide-content {
    text-align: center;
  }

}