@import "./mixins.scss";

.login-container {
  position: relative;
  @include flexbox();
  flex-flow: row wrap;
  .login-component {
    color: black;
    cursor: pointer;
    height: auto;
    .card {
      width: 60vw;
    //   max-width: 500px;

      img {
        width: 100%;
        max-width: 400px;
        height: 100%;
      }
      p {
        padding: 0.5em;
      }
    }
  }
}
