@import "./mixins.scss";

.login-container {
  margin-top: 5em;
  position: relative;
  border: 1px solid blue;
  @include flexbox();
  .login-component {
    border: 1px solid red;
    width: 100%;
    @include flexbox();
    flex-flow: row wrap;
    color: black;
    cursor: pointer;
    height: auto;
    .card {
      width: 60vw;
    //   max-width: 500px;
    min-width: 350px;

      img {
        width: 100%;
        max-width: 400px;
        height: 100%;
      }
      p {
        padding: 0.5em;
      }
    }
  }
}
