@import './mixins.scss';

    .login-modal {
        box-shadow: none;
        border: none;
        color: black;
        cursor: pointer;
        height: auto;
        .card {
            width: 100%;

            img {
                width: 100%;
                max-width: 400px;
                height: 100%;
            }
            p {
                padding: 0.5em;
            }
        }
    }
