@mixin background-setup {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flexbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}