@import './variables.scss';

.tabs {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background: transparent;
    width: 100vw;
    .tab {
        padding: 2em;
        color: white;
    }
}