@import './variables.scss';

.tabs {
    margin: 0;
    padding: 0;
    background: transparent;
    width: 100vw;
    color: white;
    .tab {
        padding: 2em;
        color: white;
        &:hover {
            color: pink;
            border-bottom: 1px solid pink;
        }
    }
}