/* 
ul {
    list-style-type: none;
}

li {
    float: left;
}

li, a {
    display: block;
    padding: 0.3em;
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom-color: white;
} */